{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exams Manager</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

	<style>
        {% include 'frontend/../styles.css' %}
        </style>

</head>
<body>




<div class="jumbotron bg text-center text-center">
  <div class="transbox">
  <div class="well">
      <h1 text-center> Exam Manager</h1>
      <span style="display:inline-block; width: 5px;"></span>
      <h3> Actions </h3>

<ul >
    <li><a href="http://127.0.0.1:8000/front/">Home</a></li>
    <li><a href="http://127.0.0.1:8000/front/examslist/">Exams list</a></li>
    <li><a href="http://127.0.0.1:8000/front/gradeslist/">Grades</a></li>
    <li><a href="http://127.0.0.1:8000/front/studentslist/">Students</a></li>

</ul>
    </div>
</div>

 </div>


<div class="jumbotron bg text-center text-center" id="container">

	<h3>Grades List:</h3>
    <div class="container">
            <div class="container">
        <div id="task-container">

            <div id="form-wrapper">

				<form id="form">
					<div class="flex-wrapper">
						<div style="flex: 6">

                            <h5>ADD GRADES:</h5>
							<input id="title" class="form-control" type="text" name="title" placeholder="GRADE">
{#                            <input id="description" class="form-control" type="text" name="description" placeholder="description">#}
{#                            <input id="location" class="form-control" type="text" name="location" placeholder="location">#}
{#                            <input id="id_s" class="form-control" type="text" name="id_s" placeholder="ID students">#}
{#                            <br />Students:#}
                            <div id="list-wrapper-grades-POST">
                            </div>
						</div>
                        <div>
							<input id="submit" class="btn" type="submit" value="POST">
						</div>

					</div>
				</form>
{#                <div>#}
{#							<input id="submit" class="btn" type="submit" value="POST">#}
{#                </div>#}
			</div>

    </div>

		<div id="task-container">
            <div id="form-wrapper">
            <form id="form">
					<div class="flex-wrapper">
						<div style="flex:6">
							<input id="search" class="form-control" name="search" placeholder="Search">
						</div>
                        <div style="flex:1">
							<input id="search" class="btn" onclick="searchExam()" value="SEARCH">
						</div>
                        <div style="flex:1">
							<input id="clear" class="btn" onclick="clearSearch()" value="CLEAR">
						</div>

					</div>
				</form>

            <h5>SEARCHED:</h5>
            <div id="list-wrapper-search">
			</div>
            <h5>ALL:</h5>
            <div id="list-wrapper">

			</div>
		</div>
	</div>
        </div>




{#		<div id="task-container">#}
{#			<div id="form-wrapper">#}
{#			            <div id="list-wrapper">#}
{##}
{#			</div>#}
{#			</div>#}
{##}
{#		</div>#}
	</div>
</div>

<script>
    {% include 'frontend/js/my_script.js' %}
    buildListGrades()
</script>
</body>
</html>